<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="css/about.css">



</head>



<body bgcolor="WhiteSmoke">

    <div class="about-section">

        <h1 id="l">eduXpert</h1>

        <h2>

            <p>About Us</p>

        </h2>

        <!-- <p>Just as e-learning has essentially transformed the way students absorb information and complete their coursework, online tutoring provides the supplemental skills-building that students require in a way that is significantly more cost-effective

            and convenient than traditional services.</p> -->

        <h3 class="span loader">

            <span class='m'>Just</span>

            <span class='m'>as</span>

            <span class='m'>e-learning</span>

            <span class='m'>has</span>

            <span class='m'>essentialy</span>

            <span class='m'>transformed</span>

            <span class='m'>the</span>

            <span class='m'>way</span>

            <span class='m'>students</span>

            <span class='m'>absorb</span>

            <span class='m'>information</span>

            <span class='m'>and</span>

            <span class='m'>complete</span>

            <span class='m'>their</span>

            <span class='m'>coursework,</span>

            <span class='m'>online</span>

            <span class='m'>tutoring</span>

            <span class='m'>provides</span>

            <span class='m'>the</span>

            <span class='m'>supplemental</span>

            <span class='m'>skiils-building</span>

            <span class='m'>&nbsp;</span>

            <span class='m'>that</span>

            <span class='m'>students</span>

            <span class='m'>require</span>

            <span class='m'>in</span>

            <span class='m'>a</span>

            <span class='m'>way</span>

            <span class='m'>that</span>

            <span class='m'>is</span>

            <span class='m'>significantly</span>

            <span class='m'>more</span>

            <span class='m'>cost-effective</span>

            <span class='m'>&nbsp;</span>

            <span class='m'>and</span>

            <span class='m'>convenient</span>

            <span class='m'>than</span>

            <span class='m'>traditional</span>

            <span class='m'>services.</span>

            <span class='m'>&nbsp;</span>



        </h3>

    </div>



    <h2 style="text-align:center">Our Team</h2>

    <div class="row">

        <div class="column">

            <div class="card" id="card">

                <img src="https://codersera.com/blog/wp-content/uploads/2019/07/BLOG-23-L-3.jpg"
                    alt="Jane" style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Avishkar Chavle</h2>

                    <p class="title">CEO & Founder</p>

                    <p>VJTI COMPS 24'</p>

                    <p>aschavle_b20@ce.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/avishkar-chavle-37b7a8215" target="blank"> <button
                                class="button"> Contact </button> </a>

                    </p>

                </div>

            </div>

        </div>



        <div class="column">

            <div class="card" id="car">

                <img src="https://cdn.dribbble.com/users/2131993/screenshots/15628402/media/7bb0d27e44d8c2eff47276ae86bfd6a3.png?compress=1&resize=400x300&vertical=top" alt="John"
                    style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Anshika Sharma</h2>

                    <p class="title">Designer</p>

                    <p>VJTI CS 24'</p>

                    <p>asharma_b20@ce.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/anshika-sharma-560385202" target="blank"> <button
                                class="button">Contact</button></a>

                    </p>

                </div>

            </div>

        </div>



        <div class="column">

            <div class="card" id="card">

                <img src="https://codersera.com/blog/wp-content/uploads/2019/07/BLOG-23-L-3.jpg"
                    alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Dushant Harinkhede</h2>

                    <p class="title">Backend Developer</p>

                    <p>VJTI COMPS 24'</p>

                    <p>dtharinkhede_b20@ce.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/dushant-harinkhede-296200210" target="blank"> <button
                                class="button">Contact</button></a>

                    </p>

                </div>

            </div>

        </div>



        <div class="column">

            <div class="card" id="car">

                <img src="https://codersera.com/blog/wp-content/uploads/2019/07/BLOG-23-L-3.jpg"
                    alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Harsh Gawli</h2>

                    <p class="title">Art Director</p>

                    <p>VJTI COMPS 24'</p>

                    <p> hpgawli_b20@ce.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/harsh-gawli-4a21ab222" target="blank"> <button
                                class="button">Contact</button> </a>

                    </p>

                </div>

            </div>

        </div>



        <div class="column">

            <div class="card" id="card">

                <img src="https://codersera.com/blog/wp-content/uploads/2019/07/BLOG-23-L-3.jpg"
                    alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Apurv Sonawane</h2>

                    <p class="title">Front-end Developer</p>

                    <p>VJTI TRONICS 24'</p>

                    <p>arsonawne_b20@el.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/apurvsonawane" target="blank"> <button
                                class="button">Contact</button></a>

                    </p>

                </div>

            </div>

        </div>



        <div class="column">

            <div class="card" id="card">

                <img src="https://codersera.com/blog/wp-content/uploads/2019/07/BLOG-23-L-3.jpg"
                    alt="Mike" style='height: 40vh; width: 100%; object-fit: cover'>

                <div class="container">

                    <h2>Kanhaiyya Shendage</h2>

                    <p class="title">Front-end Developer</p>

                    <p>VJTI EXTC 24'</p>

                    <p>knshendage_b20@ce.vjti.ac.in</p>

                    <p>

                        <a href="https://www.linkedin.com/in/kanhaiyya-shendage-826a7a209/" target="blank"> <button
                                class="button">Contact</button></a>

                    </p>

                </div>

            </div>

        </div>



    </div>



    <marquee behavior="" direction="">All rights reserved ®</marquee>



</body>



</html>